.main{
    width: 100%;
    background-color: $primary-color;
    border-top: solid 7px white;
    position: relative;
    &-img{
        width: 200px;
        height: 200px;
        background-image: url(../images/Personal.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 100%;
        border: solid white 5px;
        position: absolute;
        margin: 0 auto;
        top: -100px;
        left: calc(50% - 100px);
    }
    &-main{
        margin-top: 100px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
    }
    &-content{
        padding: 15px 0;
        &-header{
            display: flex;
            width: 100%;
            color: white;
            font-size: 22px;
            gap: 10px;
            border-bottom: 2px solid white;
            padding: 15px 0;
            margin-bottom: 10px;
        }
        &-inf{
            padding: 20px 0;
            font-size: 18px;
            line-height: 1.3;
            display: grid;
            grid-template-columns: 25% 80%;
            row-gap: 10px;
            & span{
                font-style: italic;
            }
        }
        &-project
        {
            display: flex;
            gap: 25px;
            align-items: center;
            justify-content: space-between;
            padding: 15px 0;
        }
        &-score
        {
            padding: 20px 0;
            table{
                border:1px solid white;
                border-collapse:collapse;
                width: 100%;
            }
            th{
                border:1px solid white;
                padding: 10px;
            }
            td{
                border:1px solid white;
                padding: 5px;
            }
        }
        &-pic
        {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows: 100px 100px 100px;
        }
    }
}

.project{
    width: 250px;
    height: 200px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    & img{
        width: 230px;
    }
    &-info{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: black;
        font-size: 12px;
        & span{
            font-weight: 700;
            font-style: italic;
        }
        & a{
            display: inline-block;
            color: black;
        }
    }
}

.pic{
    height: 100%;
    width: 100%;
    border: solid 1px white;
}

.pic1{
    grid-row-start: span 3;
    background-image: url(../images/NCTL_Beach1.jpg);
    background-size: cover;
    background-position: center;
}
.pic2{
    grid-column-start: span 2;
    background-image: url(../images/DiepAnhDao.jpg);
    background-size: cover;
    background-position: center;
}
.pic3{
    background-image: url(../images/Papa.jpg);
    background-size: cover;
    background-position: center;
}
.pic4{

    background-image: url(../images/DCMB_QT.jpg);
    background-size: cover;
    background-position: center;
}
.pic5{

    background-image: url(../images/DCMB_QT_CT.jpg);
    background-size: cover;
    background-position: center;
}
.pic6{
    grid-row-start: span 2;
    background-image: url(../images/NCTL_Beach2.jpg);
    background-size: cover;
    background-position: top;
}
.pic7{

    background-image: url(../images/Khoi_Sac.jpg);
    background-size: cover;
    background-position: center;
}
.pic8{
    background-image: url(../images/2HFW.jpg);
    background-size: cover;
    background-position: center;
}
